<div id="footer">
  <p>Made by <a href="mailto:rmf34@cornell.edu?subject=unique-paths">Matt Freeman</a>, Dev Bootcamp Fall 2012, <a href="http://www.github.com/rmf34" target="_blank">Github</a></p>
</div>