<h2>Unique Paths (square grid)</h2>
<form action="/square" method="post">
  side: <input type="text" name="number">
  <input type="submit">
</form>

<br />
<h2>Unique Paths (rectangular grid)</h2>
<form action="/rectangle" method="post">
  x: <input type="text" name="x">
  y: <input type="text" name="y">
  <input type="submit">
</form>