<div class="answer">
  <p>You asked me to find the number of unique paths in a '<%= @num %>x<%= @num %>' square grid. I polled the audience and found the answer:</p> 

  <h3>There are <%= @ans %> unique paths</h3>
</div>